name: simple maven test

on:
  push:
    branches: 
      - develop
      - feature/*

jobs:
  test:
    name: Running units tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Set up .m2/settings.xml action
      uses: whelk-io/maven-settings-xml-action@v11
      with:
        repositories: '[{ "id": "oss.sonatype.org-snapshot", "name": "central-snapshot", "url": "https://oss.sonatype.org/content/repositories/snapshots", "release": {"enable": "true"}, "snapshot": {"enable": "true"} }]'
        
    - name: Install app            
      run: mvn -U clean install 
